{% extends 'base.html.twig' %}

{% block title %}Edit Lease{% endblock %}

{% block body %}
    <h1>Edit Lease</h1>

    {{ include('lease/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lease_index') }}">back to list</a>

    {{ include('lease/_delete_form.html.twig') }}
{% endblock %}
