{% extends 'base.html.twig' %}

{% block title %}New Apartment{% endblock %}

{% block body %}
    <h1>Create new Apartment</h1>

    {{ include('apartment/_form.html.twig') }}

    <a href="{{ path('app_apartment_index') }}">back to list</a>
{% endblock %}
